
CampusConnect/.idea/jarRepositories.xml

*.iml
CampusConnect/.gradle
CampusConnect/local.properties
CampusConnect/.idea/caches
CampusConnect/.idea/libraries
CampusConnect/.idea/modules.xml
CampusConnect/.idea/workspace.xml
CampusConnect/.idea/navEditor.xml
CampusConnect/.idea/assetWizardSettings.xml
CampusConnect.DS_Store
CampusConnect/build
CampusConnect/captures
CampusConnect.externalNativeBuild
CampusConnect.cxx

